.main_background
{
    height: 650px;
    background-image: url("../images/backgroundAcceuil.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Div du formulaire */

.main_form_fastresearch
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 8% 15%;
    border-radius: 20px;
}

.main_form_fastresearch h1
{
    color: white;
    text-shadow: 0 0 5px rgba(228,0,75,0.6);
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 50px;
}

.form_fastresearhc
{
    font-size: 1.3em;
    color: #e4004b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form_fastresearhc div
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 7px 0;
    padding: 10px 20px;
    background-color: white;
    border: white 5px solid;
    border-radius: 30px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.main_form_fastresearch input
{
    padding: 0 10px;
    height: 30px;
    border: 2px solid white;
    border-radius: 20px;
}

.main_form_fastresearch label /* Espacement entre textes (ex : "Ville :") et leur champ a remplir*/
{
    margin-right: 10px;
}

.main_form_fastresearch select /* Espacement entre le select et le texte "Nombre de pièces"*/
{
    margin-right: 20px;
    font-size: 0.8em;
    padding: 0 10px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 20px;
    appearance: none;

}

.main_form_submit
{
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.main_form_submit button
{
    color: white;
    border: none;
    background-color: #e4004b;
    padding: 15px 28px;
    border-radius: 30px;
    box-shadow: 0 0 3px #858585;
}


/* END Div du formulaire */