{% extends "layout.twig" %}

{% block title %}
    <title>Acceuil - StephiPlaceImmo</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="css/acceuil.css">
{% endblock %}

{% block content %}
<main>
    <div class="main">
        <div class="main_background">
            <div class="main_form_fastresearch">
                <h1>TROUVEZ LA MAISON DE VOS REVES</h1>
                <form class="form_fastresearhc" method="post" action="php/research.php">
                    <div class="main_form_col1">
                        <label for="ville">Ville : </label>
                        <input type="text" placeholder="Paris" id="ville" name="ville">
                    </div>

                    <div class="main_form_col2">
                        <label for="typeBien">Type de bien : </label>
                        <select name="typeBien" id="typeBien">
                            <option value="maison">Maison</option>
                            <option value="appart">Appartement</option>
                        </select>

                        <label for="nbrePieces">Nombre de pièces : </label>
                        <input type="number" placeholder="2" min="0" name="nbrePieces" id="nbrePieces">
                    </div>

                    <div class="main_form_col3">
                        <label for="prixMax">Prix max (€): </label>
                        <input type="number" placeholder="100 000" min="0" id="prixMax" name="prixMax">
                    </div>
                    <div class="main_form_submit">
                        <button type="submit" name="fastResearch">RECHERCHER !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}