{% extends "layout.twig" %}

{% block title %}
    <title>Bien - StephiPlaceImmo</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="css/account.css">
{% endblock %}

{% block content %}
    <main>
        <div class="main">
            <div class="main_up_part">
                <div class="main_up_box">
                    <h1>{{ tabGood.id_bien }}{{ tabGood.titre }}</h1>
                </div>
            </div>
        </div>
    </main>
{% endblock %}