<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <!--CSS-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    {% block stylesheet %}{% endblock %}
    <!--JavaScript-->
    <script src="https://kit.fontawesome.com/cc0c487cec.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header">
        <div class="header_left">
            <div class="header_left_logo">
                <a href="index.php?p=acceuil">
                    <img src="images/logo.png" alt="logo stephiplace">
                </a>
            </div>
        </div>
        <div class="header_right">

            <!-- SI CONNECTE
            <div class="header_right_connected">
                <div class="header_right_add">
                    <a href="index.php?p=startselling" class="delLinkStyle">Ajouter un bien</a>
                </div>
                <div class="header_right_account">
                    <a href="index.php?p=account" class="delLinkStyle"><i class="far fa-user"></i> Mon compte</a>
                </div>
            </div>
            -->
            
            <!-- SI NON CONNECTE -->
            <div class="header_right_not_connected">
                <div class="header_right_signin">
                    <a href="index.php?p=signin" class="delLinkStyle">Se connecter</a>
                </div>
                <div class="header_right_signup">
                    <a href="index.php?p=signup" class="delLinkStyle">Créer un compte</a>
                </div>
            </div> 
            

        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="footer">
        <div class="footer_up_part">
            <a href="#" class="delLinkStyle">Contact</a>
            <div style="font-size: 0.5rem;">
                <i class="fas fa-circle fa-xs" style="color: gray;"></i>
              </div>
            <a href="#" class="delLinkStyle">Mention légales</a>
        </div>
        <div class="footer_down_part">
            <p>© MASSEGLIA, THAIZE.</p>
        </div>
    </div>
</footer>
</body>
</html>