<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StephiPlaceImmo</title>
    <!--CSS-->
    {% block stylesheet %}{% endblock %}
    <!--JavaScript-->
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>