{% extends "layout.twig" %}

{% block title %}
    <title>Recherche - StephiPlaceImmo</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="css/research.css">
<link rel="stylesheet" href="templates/card/card.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="javascript/dropdown.js"></script>
{% endblock %}

{% block content %}
    <main>
    <div class="main">
        <div class="main_up_part">
            <div class="main_up_form">
                <form method="POST" action="#">
                    <div class="form">
                        <div class="dropper">

                            <div class="form_col0">
                                <div class="up_form">
                                    <h2>Type de bien</h2>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>

                            <div class="form_col1">
                                <div class="up_form">
                                    <h2>Localisation</h2>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>

                            <div class="form_col2">
                                <div class="up_form">
                                    <h2>Prix</h2>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>

                            <div class="form_col3">
                                <div class="up_form">
                                    <h2>Taille</h2>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>

                            <div class="form_submit">
                                <button type="submit">Rechercher</button>
                            </div>
                        </div>

                        <div class="dropped">

                            <div class="forms" id="form_type">
                                <div class="form_type_row1 dropdown">
                                    <label for="choixtype">Type de logement :</label>
                                    <select name="choixtype" id="type">
                                        <option value="maison">Maison</option>
                                        <option value="appartement">Appartement</option>
                                    </select>
                                </div>
                                <div class="form_type_row2 dropdown">
                                    <label for="nbrepieces">Nombre de pièces :</label>
                                    <input type="number" name="nbrepieces" placeholder="Un nombre de pièces ?">
                                </div>
                            </div>

                            <div class="forms" id="form_loca">
                                <div class="form_loca_row1 dropdown">
                                    <label for="ville">Ville :</label>
                                    <input type="text" name="ville" placeholder="Quelle ville ?">
                                </div>
                                <div class="form_loca_row2 dropdown">
                                    <label for="departement">Département :</label>
                                    <input type="number" name="departement" placeholder="Quel departement ?">
                                </div>
                            </div>

                            <div class="forms" id="form_prix">
                                <div class="form_prix_row1 dropdown">
                                    <label for="prixmin">Prix minimum :</label>
                                    <input type="number" name="prixmin" placeholder="Prix mini ?">
                                </div>
                                <div class="form_prix_row2 dropdown">
                                    <label for="prixmax">Prix maximum :</label>
                                    <input type="number" name="prixmax" placeholder="Prix max ?">
                                </div>
                            </div>

                            <div class="forms" id="form_taille">
                                <div class="form_taille_row1 dropdown">
                                    <label for="superficie">Superficie min :</label>
                                    <input type="number" name="superficie" placeholder="Une superficie ?">
                                </div>
                                <div class="form_taille_row2 dropdown">
                                    <label for="surface">Surface min :</label>
                                    <input type="number" name="surface" placeholder="Une surface ?">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main_down_part">

        </div>
    </div>
    </main>

{% endblock %}