{% extends "layoutnoheader.twig" %}

{% block title %}
    <title>Se connecter - StephiPlaceImmo</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="css/signup.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="main">
        <div class="main_left_part">
            <h1>Crée ton compte !</h1>
            <p>Crée ton compte pour ajouter ton bien ou bénéficier de toutes les fonctionnalitées du site.</p>
        </div>
        <div class="main_right_part">
            <div class="form_signup">
                <div class="form_logo">
                    <a href="index.php?p=acceuil">
                        <img src="images/logo.png" alt="logo stephiplace">
                    </a>
                </div>
                <form method="post" action="php/signup.php">
                    <div class="form_pseudo">
                        <label>Pseudo : </label>
                        <input type="text" placeholder="monPseudo58" name="creaPseudo">
                    </div>

                    <div class="form_lastname">
                        <label>Nom : </label>
                        <input type="text" placeholder="Jean" name="creaNom">
                    </div>

                    <div class="form_firstname">
                        <label>Prenom : </label>
                        <input type="text" placeholder="Dumas" name="creaPrenom">
                    </div>

                    <div class="form_birth">
                        <label>Date de naissance : </label>
                        <input type="date" name="creaNaissance">
                    </div>

                    <div class="form_mail">
                        <label>Email : </label>
                        <input type="text" placeholder="nom@email.com" name="creaMail">
                    </div>

                    <div class="form_city">
                        <label>Ville : </label>
                        <input type="text" placeholder="Paris" name="creaVille">
                    </div>

                    <div class="form_codepostal">
                        <label>Code Postal : </label>
                        <input type="text" placeholder="83000" name="creaCodePostal">
                    </div>

                    <div class="form_password">
                        <label>Mot de passe : </label>
                        <input type="password" placeholder="Mot de passe" name="creaMdp">
                    </div>

                    <div class="form_submit">
                        <button type="submit" name="envoiCrea">Créer mon compte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}