<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="C:/Users/nicot/Documents/Cours/Projet d'UF/StephiPlace-Web/css/reset.css">
	<link rel="stylesheet" type="text/css" href="propositions.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc0c487cec.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="main_propositions">
	<div class="main_proposition">
		<div class="proposition_left_part">
			<div class="proposition_status">
				<i class="fas fa-check fa-3x" style="color: green"></i>
				<i class="fas fa-times fa-3x" style="color: red"></i>
			</div>
		</div>
		
		<div class="proposition_right_part">
			<div class="proposition_title">
				<h2>Maison de vacances</h2>
			</div>
			<div class="proposition_status_explain">
				<p>Proposition acceptée pour 300 000€</p>
			</div>
			<div class="proposition_link">
				<a href="#">Lien vers l'annonce</a>
			</div>
		</div>
	</div>
</div>

</body>
</html>